@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --color-white: #fff;
  --color-light: #f0eef6;
  --color-gray: #9e98b3;
  --color-primary: #6b4ce6;
  --color-secondary: #d6ccff;
  --color-success: #50fb50;
  --color-danger: #fb5050;
  --color-dark: #241e38;
  --color-black: #151221;

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 1rem 3.6rem;
  --search-padding: 1rem 2rem;
  --card-padding: 1.4rem;

  --sticky-top-left: 12rem;
  --sticky-top-right: 12rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

/* General Styles */
.container {
  width: 80%;
  margin: 0 auto;
}
.profile-photo {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.4rem;
  border-style: none;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 1.6rem;
}
.text-bold {
  font-weight: 500;
}
.text-muted {
  color: var(--color-gray);
}

/* Search nav area*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
  padding: 1rem 0;
  z-index: 100;
}
header .search-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  font-size: 2.4rem;
  font-weight: 700;
}
.search-bar {
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.search-bar input {
  background: transparent;
  width: 30vw;
  border: 0;
  font-size: 1.8rem;
  color: var(--color-dark);
}
.search-bar input::placeholder {
  color: var(--color-gray);
}
.search-bar input:focus {
  outline: 0;
}

/* Main Section */
main {
  margin-top: 12rem;
}
main .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  gap: 3rem;
  position: relative;
}

.left,
.right {
  height: max-content;
  position: sticky;
}

.left {
  top: 12rem;
}

.right {
  top: -34rem;
  bottom: 0;
}

/* Sidebar */
.sidebar,
.profile-details {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.profile-details {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-radius: var(--card-border-radius);
  margin-bottom: 2rem;
  padding: 1rem;
}

/* Menu */
.left .menu {
  display: flex;
  flex-direction: column;
}
.left .menu ion-icon {
  font-size: 1.8rem;
}
.left .menu .menu-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 1.8rem;
  transition: 0.3s ease;
}

.left .menu .menu-item--icon {
  position: relative;
}
.menu-item ion-icon {
  margin-left: 1rem;
  color: var(--color-gray);
}
.menu-item.active {
  background-color: var(--color-light);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--color-primary);
}

.left .sidebar .menu-item.active::before {
  content: '';
  display: block;
  width: 1rem;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  background-color: var(--color-primary);
}

.left .menu .menu-item:hover {
  background-color: var(--color-secondary);
  opacity: 0.98;
}

/* Notifications */
.notification {
  display: flex;
  gap: 1rem;
  align-items: start;
  margin-bottom: 1rem;
}

.num-alert {
  background: var(--color-danger);
  color: #fff;
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
  position: absolute;
  padding: 1rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.notification-count {
  top: -1rem;
  right: -1.4rem;
}

.message-count {
  top: -1rem;
  right: -1rem;
}

.notifications-popup {
  position: absolute;
  top: 0;
  left: 110%;
  width: 55rem;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: 0 0 2rem hsl(var(--color-primary), 75% 60% 25%);
  z-index: 8;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  display: none;
}

.left .notifications-popup::before {
  content: '';
  width: 2rem;
  height: 2rem;
  display: block;
  background-color: var(--color-white);
  position: absolute;
  left: -0.95rem;
  top: 0.1.8;
  transform: rotate(45deg);
}

.notification-body small {
  display: block;
}

/* Middle */

.middle .stories {
  display: flex;
  justify-content: space-between;
  height: 20rem;
  gap: 1rem;
}

.story {
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  font-size: 1.4rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.story::before {
  content: '';
  display: block;
  width: 100%;
  height: 7rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  position: absolute;
  bottom: 0;
}

.story .name {
  font-size: 1.4rem;
  z-index: 2;
}

.story:nth-child(1) {
  background: url('./images/story-images/story-image-1.webp') no-repeat center
    center/cover;
}
.story:nth-child(2) {
  background: url('./images/story-images/story-image-2.webp') no-repeat center
    center/cover;
}
.story:nth-child(3) {
  background: url('./images/story-images/story-image-3.webp') no-repeat center
    center/cover;
}
.story:nth-child(4) {
  background: url('./images/story-images/story-image-4.webp') no-repeat center
    center/cover;
}
.story:nth-child(5) {
  background: url('./images/story-images/story-image-5.webp') no-repeat center
    center/cover;
}
.story:nth-child(6) {
  background: url('./images/story-images/story-image-6.webp') no-repeat center
    center/cover;
}

.middle .story .profile-photo {
  align-self: start;
  border: 3px solid var(--color-primary);
}

.middle .create-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  background: var(--color-white);
  padding: 1rem var(--card-padding);
  border-radius: 4rem;
}

.create-post input[type='text'] {
  justify-self: start;
  font-size: 1.8rem;
  width: 75%;
  margin-left: 0;
  padding: 1rem 2rem;
  background: transparent;
  border: none;
  outline: 0;
  color: var(--color-dark);
}

/* Post Feed */
.post {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  line-height: 1.5;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-user {
  display: flex;
  gap: 1rem;
}

.post-edit {
  cursor: pointer;
}

.post-photo {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 1rem 0;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  margin: 1rem;
}

.post .liked-by {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.liked-by > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -1rem;
}

.liked-by p {
  margin-left: 1rem;
}

/* Right side */
.right .messages {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}
.messages--heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.messages--heading ion-icon {
  font-size: 2rem;
}

.messages input {
  width: 100%;
}

.messages--category {
  display: flex;
  justify-content: space-between;
  margin: 1.8rem 0;
}

.messages--category h5 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding-bottom: 1rem;
  transition: 0.3s ease-in;
}

.messages--category .active {
  border-color: var(--color-dark);
}

.message-requests {
  color: var(--color-primary);
}

.messages .message {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: start;
  overflow: hidden;
}

.messages .message:last-of-type {
  margin-bottom: 0;
}

.messages .message p {
  font-size: 1.4rem;
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message .profile-photo {
  position: relative;
  overflow: visible;
}

.message .profile-photo img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.message .active-user {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  background: var(--color-success);
  bottom: 0.2rem;
  right: 0.2rem;
}

/* Friend Requests */

.friend-requests {
  margin-top: 2rem;
}

.friend-requests h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}

.friend-requests .request {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 1rem;
}

.request .info {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.request .action {
  display: flex;
  gap: 1rem;
}
